In [1]:
import torch
from torch import nn
import numpy as np
import pandas as pd

In [2]:
# setting device on GPU if available, else CPU
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print('Using device:', device)
print()

#Additional Info when using cuda
if device.type == 'cuda':
    print(torch.cuda.get_device_name(0))
    print('Memory Usage:')
    print('Allocated:', round(torch.cuda.memory_allocated(0)/1024**3,1), 'GB')
    print('Cached:   ', round(torch.cuda.memory_reserved(0)/1024**3,1), 'GB')

Using device: cuda

GeForce RTX 3060 Laptop GPU
Memory Usage:
Allocated: 0.0 GB
Cached:    0.0 GB

In [3]:
print(torch.cuda.is_available())
print(torch.cuda.current_device())
print(torch.cuda.device(0))
print(torch.cuda.device_count())
print(torch.cuda.get_device_name(0))

True
0
<torch.cuda.device object at 0x000002B9CEFCD8B0>
1
GeForce RTX 3060 Laptop GPU

In [18]:
df = pd.read_csv('spam.csv')

In [ ]:
df

In [14]:
df = df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1)

In [16]:
df = df.dropna()

In [17]:
df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5565  spam  This is the 2nd time we have tried 2 contact u...
5566   ham              Will �_ b going to esplanade fr home?
5567   ham  Pity, * was in mood for that. So...any other s...
5568   ham  The guy did some bitching but I acted like i'd...
5569   ham                         Rofl. Its true to its name

[5570 rows x 2 columns]