In [1]:
import pandas as pd

In [2]:
data_path = r"C:\Users\45323\OneDrive\桌面\新python文件夹\pytorch\IMDB Dataset.csv"

In [3]:
df = pd.read_csv(data_path).sample(frac=1)

In [4]:
def integerization(label):
    if label == "positive":
        return 1
    elif label == "negative":
        return 0

In [5]:
df['sentiment'] = df['sentiment'].apply(integerization)

In [6]:
df

                                                  review  sentiment
35277  "A scientist discovers signals from space that...          0
6129   Technically speaking, this movie sucks...lol. ...          0
23693  C'mon people, you can't be serious, another ca...          0
4693   I really liked TWO COYOTES. One of my friends ...          1
27636  This is supposed to be well-researched and bas...          0
...                                                  ...        ...
28148  This was a strange film. A bit horror and cert...          0
15815  I have lost count of just how many times I hav...          1
22848  I actually have a fondness for Christopher Lee...          0
32169  Milos Forman's original HAIR was the perfect m...          1
13703  Having seen the uncut version, I thought this ...          1

[50000 rows x 2 columns]

In [8]:
def lower_text(df, column):
    df[column] = [text.lower() for text in df[column]]
    return df

In [9]:
import re
def remove_unicode(df, column):
    df[column] = [re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", text) for text in df[column]]
    return df

In [10]:
df = remove_unicode(df, 'review')

In [ ]:
x = df['review'][0]
x

In [ ]:
[i.strip() for i in x.split()]

In [40]:
d = {'a':1,
     'b':2,
     'c':3}

In [36]:
d['c'] = d.get('c', 100) + 1

In [29]:
print(d.get('a',3))

1

In [39]:
d.get('c', 100) + 1

4